<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>

var url = "https://script.google.com/macros/s/AKfycbzdAXrFpdIBVtXBJrmEfMj67ufISX_kaot-k7bUlbGrn5Sh7MnA/exec?&callback=?"

function createElementFromHTML(htmlString) {
  var div = document.createElement('body');
  div.innerHTML = htmlString.trim();
  return div;
}

function replaceAll(string, search, replace) {
  return string.split(search).join(replace);
}


var test = $.getJSON(url, function(returnValue) {

  var html = createElementFromHTML(replaceAll(returnValue, '\"', '\''));
  document.body = html

})

</script>